<!DOCTYPE html>
<html>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="static/lib.js"></script>
    <script src="static/socket.js"></script>
    <head>
        <title> PoE Map tracker</title>
    </head>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        SetupSocket(socket)

      
        function onLoad() {
            ajax("/maps_summary", UpdateMapsSummary);
            socket.emit("trigger_item_update");
        };
    </script>
    <body onload="onLoad()">
        <H2>Current Map</H2>
        <div id="current_map"></div>
        <button onClick="start_map()">Start</button>
        <button onClick="stop_map()">Map Done</button>
        <button onClick="save_map()">Save</button>
        <H2>Your adventure so far...</H2>
        <div id="maps_summary"></div>
    </body>
    
    
</html>